@model Act2U4_171G0250.Models.ViewModels.AlumnoViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ Layout = "_Layout"; }
<h1 class="display-4">SISTEMA ACADEMICO</h1>
<h2>Añadir Alumno</h2>
<form method="post" asp-controller="Home" asp-action="AñadirAlumno">
    <label>Nombre </label>
    <input type="text" asp-for="Alumno.Nombre" required /> <br />
    <label>Número de control</label>
    <input type="text" asp-for="Alumno.Ncontrol" required /> <br />
    <label>Usuario del Docente</label>
    <input type="text" asp-for="Maestro.Usuario" readonly="readonly" /> <br />
    <input type="submit" value="Añadir alumno" /> <br />
    <p style=" margin:20px 0">
        <a href="javascript:window.history.back()">Regresar</a>
    </p>
</form>
<p>
    @Html.ValidationSummary()
</p>