@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">SISTEMA ACADEMICO</h1>
    <p>Por favor inicie sesión </p>
    <a asp-controller="Home" asp-action="InicioDeSesionDirector">
        <input type="button" value="Iniciar sesión como director" />
    </a>
    <br />
    <br />
    <a asp-controller="Home" asp-action="InicioDeSesionMaestro">
        <input type="button" value="Iniciar sesión como maestro" />
    </a>

   
</div>
